.user {
  // background-color: ;
  height: 100%;
  position: relative;
  :global {
    .adm-list {
      margin-bottom: 20px;
      .user_photo {
        width: 24px;
        height: 24px;
        border-radius: 24px;
      }
    }
    .user_foot {
      position: absolute;
      bottom: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
      .adm-button {
        border: none;
        color: orange;
      }
    }
    .right_viseble {
      .input {
        background-color: paleturquoise;
      }
    }
  }
}
